<div xmlns:th="http://www.thymeleaf.org" th:align="center">
    <section class="text-center">
        <div class="container">
            <h2>Admin</h2>
        </div>
    </section>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <table>
        <tr>
            <div>
                <div class="row">
                    <div class="container">
                        <a href="/admin/students-to-professor" class="btn btn-primary">
                            Add student to professor
                        </a>
                    </div>
                </div>
            </div>
        </tr>
        </br>
        </br>
        <tr>
            <div>
                <div class="row">
                    <div class="container">
                        <a href="/admin/professors-to-course" class="btn btn-secondary">
                            Add professor to course
                        </a>
                    </div>
                </div>
            </div>
        </tr>
        </br>
        </br>
        <tr>
            <div>
                <div class="row">
                    <div class="container">
                        <a href="/admin/students-to-course" class="btn btn-info">
                            Add student to course
                        </a>
                    </div>
                </div>
            </div>
        </tr>
    </table>

</div>

